{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to Frosty Boys, the coolest ice cream shop in town! We're a family-owned business that's been serving up delicious treats for over 20 years. Our passion for high-quality ice cream is evident in every scoop we serve, and we're committed to making sure every customer leaves with a smile on their face.</p>
            <p>At Frosty Boys, we use only the freshest, locally sourced ingredients to make our ice cream. Our flavors range from classic vanilla and chocolate to more adventurous options.</p>
            <p>But Frosty Boys isn't just about ice cream - we're also committed to giving back to our community. We support local charities and organizations, and we're always looking for ways to make a positive impact in our neighborhood.

            We hope you'll stop by and visit us soon. Whether you're in the mood for a sweet treat or just want to say hello, we'd love to see you at Frosty Boys. Thanks for supporting our small business!</p>
        </div>
    </div>
</div>
{% endblock content %}