.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .col-md-2 {
    flex: 0 0 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
  }
  
  .col-md-8 {
    flex: 0 0 calc(70% - 1rem);
    max-width: calc(70% - 1rem);
  }
  
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .rounded {
    border-radius: 5px;
  }
  
  .form-check-label {
    font-weight: bold;
  }
  
  .btn-dark {
    background-color: #343a40;
    color: #fff;
    border-color: #343a40;
  }
  
  .btn-dark:hover {
    background-color: #23272b;
    color: #fff;
    border-color: #23272b;
  }
  
  .modal-content {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    background-color: #343a40;
    color: #fff;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-footer {
    background-color: #f8f9fa;
    border-top: none;
  }
  
  .btn-light {
    background-color: #f8f9fa;
    color: #343a40;
    border-color: #f8f9fa;
  }
  
  .btn-light:hover {
    background-color: #e9ecef;
    color: #343a40;
    border-color: #e9ecef;
  }